{% extends 'global/base.html' %}

{% block content %}
	<h1>{{ grupo_flashcard.tema }}</h1>
    <a href="{% url 'flashcard:editar_grupo_flashcard' grupo_flashcard.tema %}">Editar grupo</a><br>
    <a href="{% url 'flashcard:excluir_grupo_flashcard' %}">Excluir Grupo</a><br>
    <p>{{ grupo_flashcard.descricao }}</p><br>


    {% for flashcard in grupo_flashcard.flashcards.all %}
        <a href="{% url 'flashcard:visualizar_flashcard' flashcard.palavra_frente %}">{{ flashcard.palavra_frente }}</a><br>
    {% endfor %}

{% endblock %}