{% extends 'global/base.html' %}

{% block content %}
	<h1>Visualização grupo flashcard</h1>
    <h2>As funcionalidades abaixo terão para cada flash do grupo que aparecer</h2>
    <h2><a href="{% url 'flashcard:criar_flashcard' %}">Criar flashcard</a></h2>
    <h2><a href="{% url 'flashcard:visualizar_flashcard' %}">Visualizar flashcard</a></h2>
    <h2><a href="{% url 'flashcard:editar_flashcard' %}">Editar flashcard</a></h2>
    <h2><a href="{% url 'flashcard:excluir_flashcard' %}">Excluir flashcard</a></h2>
{% endblock %}