{% extends 'global/base.html' %}

{% block content %}
	{% if proxima_pagina == 'criacao' %}
		<h1>Selecione o grupo de flashcard que você deseja adicionar o flashcard criado</h1>
    {% else %}
        <h1>Selecione o grupo de flashcard que você deseja revisar</h1>
	{% endif %}

    {% for grupo in grupos_flashcard %}
    	<div class="container-grupo" tema-grupo="{{ grupo.tema }}" >
            <h2> {{ grupo.tema }} </h2><br>
            <p> {{ grupo.descricao }}</p><br>
        </div>
    {% endfor %}

{% endblock %}